<h1>
	Ironhackmbd
</h1>
<form action="/new" method="post">
	Names: <input type="text" name="name">
 	Rating:<input type="text" name="own_rating">
 	Comments:<input type="text" name="comments">
  <input type="submit">
</form>


<ul> 
	<% @all_shows.each do |one_show| %> 
		<li> 
			<%= "about the'#{one_show.name}' with #{one_show.own_rating} is say: #{one_show.own_comments}" %> 
		</li>
	<% end %>
</ul> 