<link type="text/css" rel="stylesheet" href="stylesheet.css" />

<h1>
	IRONHACKIMDB
</h1>
<form action="/new" method="post">
	Names: <input type="text" name="name">
 	Rating:<input type="text" name="own_rating">
 	Comments:<input type="text" name="own_comments">
  <input type="submit">
</form>


<ul> 
	<% @all_shows.each do |one_show| %> 
		<li> 
			<div id= comment>
			<img id=pics src="<%= one_show.image_link %>" />
			<%= "about the'#{one_show.name}' with #{one_show.own_rating} is say: #{one_show.own_comments}" %> 
			</div>
		</li>
	<% end %>
</ul> 


