<h2>
	NEW FORM PAGE
</h2>

<form action="/new" method="post">
	Movies: <input type="text" name="name">
 	Rating:<input type="text" name="own_rating">
 	Comments:<input type="text" name="own_comments">
  <input type="submit">
</form>

<ul> 
	<% newshow.each do |one_show| %> 
		<li> 
			<%= "about the'#{one_show.name}' with #{one_show.own_rating} is say: #{one_show.own_comments}" %> 
		</li>
	<% end %>
</ul> 